@charset "utf-8";

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v142/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.container {
    height: 100vh;
    &.whtie {
        color: #000;
        background-color: #fff;
    }
    &.dark {
        color: #fff;
        background-color: #000;
        .date-box {
            table {
                border-top: 1px solid #fff;
                border-left: 1px solid #fff;
            }
            table * {
                border-color: #fff;
            }
        }
        .week-weather-box {
            table {
                border: 1px solid #fff;
            }
            table * {
                border-color: #fff;
            }
        }
    }
} // container종료

.month-box {
    position: relative;
    padding-top: 8vw;
    text-align: center;
    width: 100%;
    display: inline-block;
    .number-year {
        font-size: 38px;
        font-weight: 900;
        position: relative;
        margin-right: 1.2vw;
        &:after {
            content: '.';
            position: absolute;
            bottom: 0;
            right: -1vw;
            display: inline-block;
        }
    } // number-year종료
    .number-month {
        font-weight: 900;
        font-size: 38px;
    } // number-month종료
    .text-unit {
        font-size: 30px;
    } // text-unit종료
    .arrow-box {
        display: flex;
        justify-content: space-between;
        margin: 0 2%;
        position: absolute;
        top: 59%;
        width: 96%;
        button {
            width: 5vw;
            height: 5vw;
            font-size: 20px;
            cursor: pointer;
            padding: 0;
            border: 0;
        }
    } // arrow-box종료
} // month-box종료

.inner-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5vw;
    gap: 2vw;
    .date-box {
        width: 96%;
        flex: 1 1 0;
        padding: 0 2%;
    }
    .collect-memo-box {
        width: 96%;
        flex: 1 1 0;
        text-align: left;
        border: 1px dotted #000;
        margin: 0 2%;
        .title {
            text-align: center;
            display: block;
            margin-bottom: 10px;
        } // title종료
        ul {
            margin: 0;
            padding: 0;
            li {
                padding: 0;
                font-size: 12px;
                line-height: 1.2;
                list-style: none;
                margin-bottom: 10px;
                .text-date-number {
                    font-weight: bold;
                    color: #53e;
                    vertical-align: text-top;
                } // text-date-number종료
                .text {
                    display: inline-block;
                    margin-left: 10px;
                    max-width: 50vw;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            } // li종료
        } // ul종료
    }
} // inner-box종료

/* 태블릿 이하 (768px 이하) */
@media (max-width: 768px) {
    .inner-box {
        flex-direction: column; /* 수직 정렬 */
        gap: 1vw; /* 간격 조정 */
    }

    .date-box, .collect-memo-box {
        width: 100%; /* 전체 너비 차지 */
    }
    .date-box {
        table tbody td .box {
            width: 30vw !important;
        }
    }
}

/* 모바일 이하 (480px 이하) */
@media (max-width: 480px) {
    .inner-box {
        flex-direction: column; /* 수직 정렬 */
        gap: 1vw; /* 간격 조정 */
    }

    .date-box, .collect-memo-box {
        width: 100%; /* 수직으로 쌓이도록 설정 */
    }

    .date-box {
        margin-bottom: 3%;
        table tbody td .box {
            width: 30vw !important;
        }
    }
}

.date-box {
    display: flex;
    justify-content: center;
    table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
        border: 1px solid #000;
        thead {
            border-bottom: 1px solid #000;
            th {
                font-size: 1.2rem;
                font-weight: 400;
                height: 2.5rem;
                border-right: 1px solid #000;
                &.saturday {
                    color: blue;
                }
                &.sunday {
                    color: red;
                }
            }
        } // thead종료
        tbody {
            td {
                font-size: 1.2rem;
                font-weight: 400;
                height: 2.5rem;
                border-right: 1px solid #000;
                border-bottom: 1px solid #000;
                cursor: pointer;
                position: relative;
                &:hover {
                    position: relative;
                    &:after {
                        display: inline-block;
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 29px;
                        height: 29px;
                        background-color: transparent;
                        border-radius: 100%;
                        border: 1px solid #D22C26;
                        box-sizing: border-box;    
                    }
                }
                .box {
                    position: absolute;
                    background-color: #fff;
                    border: 1px solid #000;
                    box-sizing: border-box;
                    margin: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 10;
                    // width: 90%;
                    width: 15vw;
                    height: 260px;
                    font-size: 12px;
                    text-align: left;
                    padding: 10px;
                    // display: none;
                    .text-memo {
                        margin: 0;
                        textarea {
                            width: 96%;
                            height: inherit;
                            resize: none;
                            height: 190px;
                            overflow-y: auto;
                        }    
                    } // text-memo종료
                    .btn-box {
                        // position: absolute;
                        position: relative;
                        bottom: 10px;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        width: 100%;
                        justify-content: center;
                        button {
                            width: 49%;
                        }
                    } // btn-box종료
                } // box종료
                &.saturday {
                    color: blue;
                }
                &.sunday {
                    color: red;
                }
                &.prev, &.next {
                    color: #778899;
                }
            }
        } // tbody종료
    } // table종료
} // date-box종료

.login-wrap, .join-wrap {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../img/login_bg2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &.join-wrap {
        background-image: url('../img/login_bg3.png');
        .join-box {
            .inner {
                width: 80%;
            }
        }
    }
    .join-box {
        width: 100%;
        h2 {
            font-size: 38px;
            font-weight: 900;
            margin-top: 0;
            color: #fff;
        }
        .inner {
            display: flex;
            width: 50%;
            margin: 0 auto;
        } // inner종료
        label {
            display: block;
            width: 60%;
            height: 30px;
            margin: 0 auto 30px 0;
            position: relative;
            &.lbl_join {
                margin: 0 auto 30px auto;
            }
            input {
                width: 100%;
                height: inherit;
                padding: 0 10px;
            }
            span {
                position: absolute;
                right: 0;
                top: 5px;
                display: block;
                cursor: pointer;
            }
        }
        button {
            background-color: #778899;
            color: #fff;
            height: 40px;
            width: 20%;
            border: none;
            cursor: pointer;
            &.btn_multipleID {
                background-color: #53e;
                width: 30%;
            }
        }
        ul {
            padding: 0;
            li {
                width: 90%;
                margin: 0 auto;
                list-style: none;
                span {
                    position: relative;
                    padding-left: 10px;
                    color: #fff;
                    &:before {
                        content: '';
                        position: absolute;
                        top: 9px;
                        left: 0;
                        background-color: #000;
                        width: 3px;
                        height: 3px;
                        border-radius: 100%;
                    }
                }           
            } // li종료
        }
        .btn-join {
            margin-left: 10px;
            background-color: #656565;
        }
    } // join-box종료
} // join-wrap종료

.btn-thema-toggle {
    float: left;
    padding: 0;
    border: 0;
    height: 35px;
    width: 18%;
    cursor: pointer;
    display: block;
} // btn-thema-toggle종료

.btn-logout {
    float: right;
    background-color: #53e;
    color: #fff;
    margin: 0;
    border: none;
    height: 35px;
    width: 18%;
    cursor: pointer;
    display: block;
    position: relative;
    z-index: 20;
} // btn-logout종료

.text-comment {
    padding: 0 2%;
    margin: 0.2rem 0 0 0;
    text-align: center;
    li {
        list-style: none;
        span {
            position: relative;
            padding-left: 10px;
            font-size: 0.8rem;
            &:before {
                content: '';
                display: inline-block;
                position: absolute;
                top: 9px;
                left: 0;
                width: 3px;
                height: 3px;
                background-color: #000;
                border-radius: 100%;
            }    
        }
    }
} // text-comment종료

.weather-box {
    text-align: left;
    padding: 0 2%;
    font-size: 0.8rem;
    line-height: 1rem;
    margin-top: 1.5rem;
    .title {
        margin: 0;
        padding: 10px 0 0 0;
    }
    .imgbox {
        display: block;
        font-size: 14px;
        img {
            display: inline-block;
            vertical-align: middle;
        }
    }
    .temperature {
        span {
            display: inline-block;
            &:first-child {
                margin-right: 5px;
            }
        }
    }
} // weather-box종료

.week-weather-box {
    margin: 20px 0 0 0;
    padding: 0 2% 20px 2%;
    .title {
        display: block;
        font-size: 14px;
        margin-bottom: 10px;
        text-align: left;
    }
    table {
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #000;
        box-sizing: border-box;
        position: relative;
        caption {
            position: absolute;
            width: 0;
            height: 0;
            overflow: hidden;
        }
        thead {
            border-width: 0 0 1px 0;
            border-style: double;
            border-color: #000;
            box-sizing: border-box;
            th {
                padding: 8px;
                border-right: 1px dotted #000;
                &:last-child {
                    border-right: 0;
                }
            }
        }
        tbody {
            td {
                border-right: 1px dotted #000;
                padding: 8px;
                &:last-child {
                    border-right: 0;
                }
            }
        }
    } // table종료
} // week-weather-box종료